.movie-card {
    display: flex;
    flex-direction: column;
    background-color: #222;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: calc(100% - 40px);
    -webkit-box-shadow: 7px 7px 22px #0e0e0e, -7px -7px 22px #363636;
    box-shadow: 7px 7px 22px #0e0e0e, -7px -7px 22px #363636;
}

.movie-header {
    display: flex;
    align-items: flex-start;
}

.movie-poster {
    width: 300px;
    height: auto;
    border: 4px solid #222;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 10px #111111, -5px -5px 10px #333333;
    box-shadow: 5px 5px 10px #111111, -5px -5px 10px #333333;
}

.movie-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.movie-title-section {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    justify-content: space-between;
}

.movie-title {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    font-weight: bold;
    color: #ccc;
    align-items: flex-start;
    text-align: left;
}

.rating {
    border: 4px solid rgb(32 32 32);
    margin-left: auto;
    display: inline-block;
    padding: 8px 8px;
    border-radius: 15px;
    background-color: #222;
    color: #000;
    font-weight: bold;
    font-size: 1.5em;
    min-width: 1.5em;

    -webkit-box-shadow: 6px 6px 17px #101010, -6px -6px 17px #343434;
    box-shadow: 6px 6px 17px #101010, -6px -6px 17px #343434;
}

.movie-subtitle {
    display: flex;
    gap: 10px;
    font-size: 15px;
    font-weight: normal;
    color: #ccc;
    align-items: center;
}

.movie-poster-section {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    gap: 20px;
}

.movie-button {
    height: 45px;
    border: 2px solid transparent;
    outline: none;
    padding: 0 7px;
    border-radius: 15px;
    color: #ccc;
    font-size: 15px;
    background-color: transparent;
    -webkit-box-shadow: 5px 5px 10px #111111, -5px -5px 10px #333333;
    box-shadow: 5px 5px 10px #111111, -5px -5px 10px #333333;
}

.movie-button:active {
    box-shadow: 5px 5px 10px #111111, -5px -5px 10px #333333, inset 3px 3px 10px rgba(0, 0, 0, 1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

button:active::after {
    opacity: 1;
    margin-top: 2px;
}

.desc-section {
    width: 100%;
    max-width: 70%;
    padding: 15px;
    border-radius: 15px;
    color: #bababa;
    background-color: #222;
    text-align: left;
    -webkit-box-shadow: 7px 7px 22px #0e0e0e, -7px -7px 22px #363636;
    box-shadow: 7px 7px 22px #0e0e0e, -7px -7px 22px #363636;
}

.alternative-name {

}

.age-rating {
    border: 1px solid;
    border-radius: 5px;
    padding: 2px 5px;
}
