.header {
    background-color: #333;
    padding: 0 10px;
    -webkit-box-shadow: -5px 15px 35px -4px rgb(11, 11, 11);
    -moz-box-shadow: -5px 15px 35px -4px rgb(11, 11, 11);
    box-shadow: -5px 15px 35px -4px rgb(11, 11, 11);
}

.logo {
    font-family: "Baloo Bhai 2", serif;
    color: #dddddd;
    text-decoration: none;
    display: flex;
    align-items: center;
    max-width: min-content;
}

.logo-icon {
    width: 64px;
    height: 64px;
    padding: 0 10px 0 10px;
}

.logo-icon g {
    fill: #dddddd;
}

.rotate {
    transform-origin: center;
    transform-box: fill-box;
}
