.App {
  background-color: #222;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Arial', sans-serif;
}

main {
  flex: 1;
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
  align-content: flex-start;
}

body {
  background-color: #333;
}
